<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>928388165441-gdb370jieafn74llb6kkvvaph8nndnpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928388165441-gdb370jieafn74llb6kkvvaph8nndnpu</string>
	<key>API_KEY</key>
	<string>AIzaSyA4rT-xf2RxkxWawflLidwlH823-VA6hok</string>
	<key>GCM_SENDER_ID</key>
	<string>928388165441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oliveiracode.BrasilNaMao</string>
	<key>PROJECT_ID</key>
	<string>brasil-na-mao</string>
	<key>STORAGE_BUCKET</key>
	<string>brasil-na-mao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928388165441:ios:e37bd25a278a8b9d</string>
	<key>DATABASE_URL</key>
	<string>https://brasil-na-mao.firebaseio.com</string>
</dict>
</plist>